@model OdvozOtpada.Models.PromijeniLozinku

@{
    ViewBag.Title = "Uredi podatke o adminu";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2 class="text-center">Ažuriraj lozinku admina u bazi</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.HiddenFor(model => model.adminID)

    <div class="container">
        <center>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.StaraLozinka, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StaraLozinka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaraLozinka, "", new { @class = "text-danger" })
            </div>
        </center>

        <center>
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.NovaLozinka, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NovaLozinka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NovaLozinka, "", new { @class = "text-danger" })
            </div>
        </center>

        <center>
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.PotvrdiNovuLozinku, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PotvrdiNovuLozinku, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PotvrdiNovuLozinku, "", new { @class = "text-danger" })
            </div>
        </center>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="submit" value="Ažuriraj" class="btn btn-primary" />
        </div>
    </div>
}
<br />


<div>
    @Html.ActionLink("Natrag", "IndexAdmin")
</div>
